/* Base Rules */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    color: #333333;
}

/* Headers and Logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #292929;
}

#logo {
    float: left;
    font-size: 370%;
    margin-left: 25px;
}

#logo>#logo-plural {
    text-transform: lowercase;
}

#logo>#logo-tuning {
    font-size: 80%;
    letter-spacing: 2px;
}

/* Navigation Links */

#menu,
#logo {
    max-height: 80px;
    line-height: 80px;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
    float: right;
}

#menu>li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #333333;
}

.active {
    border-bottom: 1px solid #333333;
}

/* Hero Image */

#hero-image-tuning {
    height: 640px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image {
    height: 640px;
    width: 100%;
    background: url('../images/nft-hero-image.png') no-repeat center center;
    animation-name: hero-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* Core Section */

#basics {
    text-align: center;
    margin: 25px 0;
    font-size: 285%;
}

#core {
    height: 640px;
}

#left-side {
    margin-top: 25px;
    width: 50%;
    float: left;
}

#left-side-content {
    width: 67%;
    float: right;
}

.contents {
    font-size: 110%;
    margin-bottom: 20px;
}

#right-side {
    width: 50%;
    float: right;
}

#right-side-content {
    width: 87%;
    float: right;
}

/* Footer */

footer {
    height: 160px;
    margin-top: 50px;
    background-color: #292929;
}

#call-to-action {
    text-align: center;
    font-size: 150%;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
}

#call-to-action>span {
    font-size: 210%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0.5% 1%;
    color: white;
}