/* Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* HTML setting to get the default number of pixels in single units of rem without impacting on accessibility: (16px * 6.25%) = 1px = 1rem
   Everything about font sizes is linked to the following percentage as a single point of parametrization */

html {
    font-size: 6.25%;
    height: 100%;
}

/* STAR rules to ignore all the default behaviours and account for any border and padding when specifying values for elements' width and height */

* {
    border: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Base Rules Setting - At this level, Flexbox has been added, in synergy with Footer styling, just to push Footer always at the very bottom */

body {
    color: #333333;
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
    font-size: 16rem;
    min-height: 100%;
}

/* Homepage Headers and Title */

h1,
h2 {
    color: #292929;
    font-family: Roboto, sans-serif;
    letter-spacing: 4rem;
    text-transform: uppercase;
}

#title {
    float: left;
    font-size: 48rem;
    margin-left: 0.5em;
}

#title>#title-plural {
    text-transform: lowercase;
}

#title>#title-tuning {
    font-size: 80%;
    letter-spacing: 2rem;
}

/* Navigation Links */

#menu,
#title {
    line-height: 72rem;
}

#menu {
    clear: left;
    float: left;
    letter-spacing: 2rem;
    font-size: 20rem;
    margin-left: 1.2em;
}

#menu>li {
    float: left;
    margin-right: 1.2em;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1rem solid #333333;
}

.active {
    border-bottom: 1rem solid #333333;
}

/* Homepage Hero Image */

#hero-image-tuning {
    height: 40em;
    overflow: hidden;
    width: 100%;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#hero-image {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: hero-image-zoom;
    background: url('../images/homepage-hero-image.webp') no-repeat center center;
    height: 100%;
    width: 100%;
}

/* Homepage Main Content */

#basics>h2 {
    font-size: clamp(32rem, 32rem + 0.6vmin + 0.6vmax, 48rem);
    margin: 0.75em 0.25em;
    text-align: center;
    text-transform: capitalize;
}

#left-side {
    float: left;
    margin: 1em 2.5em;
}

#left-side-content {
    float: right;
}

.paragraphs-contents {
    padding-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

#token {
    display: block;
    height: clamp(224rem, 224rem + 5vmin + 5vmax, 448rem);
    margin: 2em auto;
    width: clamp(224rem, 224rem + 5vmin + 5vmax, 448rem);
}

/* Footer */

footer {
    background-color: #292929;
    clear: both;
    margin-top: auto;
}

#call-to-action {
    color: #fafafa;
    font-family: Roboto, sans-serif;
    font-size: 23rem;
    letter-spacing: 1rem;
    margin-bottom: 0.42em;
    padding-top: 0.42em;
    text-align: center;
}

#call-to-action>span {
    font-size: 50rem;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    color: #fafafa;
    font-size: 26rem;
    margin: 0.3em 0.7em;
}

/* Milestone Page - Timeline */

#history {
    background: url('../images/milestones-page-background.webp') no-repeat center/cover;
    clear: left;
}

#container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6em 0;
}

#timeline {
    max-width: 57em;
    position: relative;
    width: 80%;
}

#timeline>ul>li {
    background-color: #292929;
    border-radius: 1em;
    color: #fafafa;
    margin-bottom: 1.5em;
    padding: 1.5em;
}

#timeline>ul>li:last-child {
    margin-bottom: 0;
}

.period {
    background-color: #292929;
    border-radius: 0.25em;
    font-family: Roboto, sans-serif;
    font-size: 16rem;
    letter-spacing: 0.13em;
    margin-bottom: 0.5em;
    padding: 0.13em 0.25em;
}

.milestone>h2 {
    color: #fafafa;
    font-size: 24rem;
    letter-spacing: 0.13em;
    margin-bottom: 0.67em;
    padding: 0 0.16em;
}

.milestone>p {
    line-height: 1.8em;
    padding: 0 0.25em;
}

/* Timeline Media Queries */

@media screen and (min-width: 720px) {
    .period {
        position: absolute;
        top: -2em;
    }

    #timeline>ul>li {
        margin-bottom: 4em;
        width: 50%;
    }

    #timeline::before {
        background-color: #292929;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0.13em;
    }

    #timeline>ul>li::before {
        background-color: #292929;
        border-radius: 50%;
        content: '';
        height: 1.5em;
        position: absolute;
        top: 0;
        width: 1.5em;
    }

    #timeline>ul>li:nth-child(odd) {
        border-radius: 1.25em 0 1.25em 1.25em;
        clear: right;
        float: left;
        transform: translateX(-30rem);
    }

    #timeline>ul>li:nth-child(even) {
        border-radius: 0 1.25em 1.25em 1.25em;
        clear: left;
        float: right;
        transform: translateX(30rem);
    }

    #timeline>ul>li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30rem;
    }

    #timeline>ul>li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30rem;
    }
}

/* Digital Art Page */

#digital-art {
    clear: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    padding-top: 2em;
}

#digital-art-text {
    flex: 1.3;
    line-height: 1.5em;
    order: 2;
    padding: 0 2em 0 2em;
    text-align: justify;
    text-justify: inter-word;
}

#digital-art-text>h2 {
    font-size: clamp(24rem, 24rem + 0.1vmin, 32rem);
    padding-bottom: 1em;
}

#digital-art-text>h2>span {
    text-transform: lowercase;
}

#artwork {
    flex: 1;
    order: 1;
    margin-bottom: 3em;
    padding: 0 2em 0 2em;
}

#beeple {
    height: 99%;
    width: 99%;
}

figure {
    text-align: center;
}

figcaption {
    text-align: left;
    width: 97%;
}

.art-paragraphs {
    padding-bottom: 1.5em;
}

/* Homepage and Digital Art Page Media Queries */

@media screen and (min-width: 1180px) {
    #menu {
        clear: none;
        float: right;
    }

    #left-side {
        margin: 1em auto;
        width: 50%;
    }

    #left-side-content {
        padding-left: calc(29vw - 21vh);
    }

    #right-side {
        float: right;
        margin: 1em auto 4em;
        width: 50%;
    }
    
    #right-side-content {
        float: right;
        padding-right: calc(29vw - 21vh);
    }

    #digital-art {
        flex-direction: row;
        padding-top: 3em;
    }

    #artwork {
        margin-bottom: 0;
    }
}

/* Newsletter Page and Subscription Form */

#subscription {
    background: url('../images/newsletter-page-background.webp') center/cover;
    clear: left;
}

#wrapper {
    min-height: max(100vh, 40em);
    margin-bottom: 5em;
}

#subscription-form {
    background-color: rgba(244, 229, 220, 0.111);
    border-radius: 0.5em;
    color: #fafafa;
    left: 14.4%;
    letter-spacing: 0.02em;
    margin: 10.5% 12% 0 0;
    max-width: 430rem;
    padding: 2.2em;
    position: absolute;
}

#subscription-form>h2 {
    color: #fafafa;
    font-size: 24rem;
    letter-spacing: 0.14em;
    margin-bottom: 1.1em;
}

.text-input {
    background: transparent;
    border: 0.1em solid #fafafa;
    border-radius: 0.3em;
    color: #fafafa;
    height: 1.8em;
    letter-spacing: 0.02em;
    margin: 0.4em 0 1.3em 0;
    padding-left: 0.3em;
    width: 100%;
}

.text-input:hover {
    border-color: #aa6c39;
}

#join-button {
    background-color: #aa6c39;
    border-radius: 0.3em;
    color: #fafafa;
    display: block;
    font-size: 20rem;
    margin-top: 0.8em;
    padding: 0.8em 1.6em;
    text-align: center;
}

#join-button:hover {
    background-color: #fafafa;
    color: #aa6c39;
}